In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
#
pd.plotting.register_matplotlib_converters()
%matplotlib inline

In [31]:
modified = pd.read_csv("input/insurance_modified.csv")
modified

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [32]:
isMale = list(map(lambda value: int(value == "male"), list(modified.sex)))

modified["isMale"] = isMale
modified = modified.drop(columns = "sex")

In [34]:
isSmoker = list(map(lambda value: int(value == "yes"), list(modified.smoker)))

modified["isSmoker"] = isSmoker
modified = modified.drop(columns = "smoker")

In [37]:
isSouth = list(map(lambda value: int(value == "southwest" or value == "southeast"), list(modified.region)))
isWest = list(map(lambda value: int(value == "southwest" or value == "northwest"), list(modified.region)))

modified["isSouth"] = isSouth
modified["isWest"] = isWest

modified = modified.drop(columns = "region")

In [38]:
modified

      age     bmi  children      charges  isMale  isSmoker  isSouth  isWest
0      19  27.900         0  16884.92400       0         1        1       1
1      18  33.770         1   1725.55230       1         0        1       0
2      28  33.000         3   4449.46200       1         0        1       0
3      33  22.705         0  21984.47061       1         0        0       1
4      32  28.880         0   3866.85520       1         0        0       1
...   ...     ...       ...          ...     ...       ...      ...     ...
1333   50  30.970         3  10600.54830       1         0        0       1
1334   18  31.920         0   2205.98080       0         0        0       0
1335   18  36.850         0   1629.83350       0         0        1       0
1336   21  25.800         0   2007.94500       0         0        1       1
1337   61  29.070         0  29141.36030       0         1        0       1

[1338 rows x 8 columns]

In [63]:
modified.to_csv("input/insurance_modified.csv")

In [70]:
modified2 = pd.read_csv("input/insurance_charges.csv", index_col = "charges")
modified2

             Unnamed: 0
charges
16884.92400           0
1725.55230            1
4449.46200            2
21984.47061           3
3866.85520            4
...                 ...
10600.54830        1333
2205.98080         1334
1629.83350         1335
2007.94500         1336
29141.36030        1337

[1338 rows x 1 columns]

In [74]:
# modified2 = modified2.drop(columns = "Unnamed: 0")
modified2.to_csv("input/insurance_charges.csv")

In [75]:
modified2 = modified2.drop("Unnamed: 0")

KeyError: "['Unnamed: 0'] not found in axis"

In [76]:
modified2

             Unnamed: 0
charges
16884.92400           0
1725.55230            1
4449.46200            2
21984.47061           3
3866.85520            4
...                 ...
10600.54830        1333
2205.98080         1334
1629.83350         1335
2007.94500         1336
29141.36030        1337

[1338 rows x 1 columns]